NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCpo4gJpE8Oj6rJW998azxUgiE62lE_CDM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=second-book-db84f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=second-book-db84f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=second-book-db84f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=220875092399
NEXT_PUBLIC_FIREBASE_APP_ID=1:220875092399:web:f0a200229b25192f967f5a
NEXT_PUBLIC_API_URL=http://localhost:8000
